:root {
    --gray: 201, 201, 201;
    --underline-blue: #59a7c5;
    --background: #181a1b
}

body {
    background-color: var(--background);
    display: flex;
    color: white;
}

.nav {
    margin-left: 2%;
    width: 20%;
    height: 100%;
}

.logo {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1.5%;
    font-size: 80%;
    padding-top: 7%;
}

.logo-img {
    width: 20%;
    height: auto;
}

.menu {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 0.5rem;
}


.icons>img {
    width: 20px;
}

.menu>a {
    display: flex;
    align-items: center;
    gap: 2%;
}

.menu>a>img {
    width: 10%;
}

a {
    text-decoration: none;
    color: inherit;
}

.main-screen {
    display: flex;
    flex-direction: column;
    height: 97vh;
    width: 80%;
}

.top-bar {
    display: flex;
    flex-direction: column;
    height: 20%;
    margin-bottom: 2%;
    margin-top: 1%;
}

.search-bar {
    display: flex;
    height: 40%;
    padding-top: 1%;
    padding-bottom: 2%;
    align-items: center;
}

.search-bar a{
    padding-top: 1.5%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.search-bar > a > img{
    margin-top: auto;
}


.search-bar img {
    height: 80%;
    border-radius: 100%;
}

.search-bar input {
    height: 50%;
    width: 50%;
    border-radius: 20px;
    margin-left: 3%;
    padding-left: 2%;
}

#notifications-icon{
    padding-left: 8%;
    height: 60%;
}

.search-bar > p{
    font-size: 120%;
    text-align: center;
    width: 15%;
    margin-left: 5%;
}

.profile-bar{
    height: 40%;
    display: flex;
    align-items: center;
}

.profile-bar > img{
    border-radius: 100%;
    height: 100%;
}

.profile-bar p{
    font-size: 120%;
    padding-left: 1.5%;
}

.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 25%;
    width: 50%;
    height: 100%;
}

.buttons > button{
    height: 60%;
    width: 20%;
    border-radius: 40px;
}