:root {
    --gray: 201, 201, 201;
    --underline-blue: #59a7c5;
    --background: #181a1b;
    --speed: 3s
}

body {
    background-color: var(--background);
    display: flex;
    color: white;
}

.nav {
    margin-left: 2%;
    width: 17%;
    height: 100%;
}

.logo {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1.5%;
    font-size: 80%;
    padding-top: 7%;
}

.logo-img {
    width: 20%;
    height: auto;
}

.menu {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 0.5rem;
    gap: 1.5rem;
}


.menu>a {
    display: flex;
    align-items: center;
    gap: 3.5%;
    transition: transform 0.2s, color 0.5s;
}

.menu>a:hover {
    transform: scale(1.2) translateX(10%);
    color: var(--underline-blue);
}


.menu>a>img {
    width: 15%;
}

.menu>a>p {
    font-size: 130%;
}


a {
    text-decoration: none;
    color: inherit;
}

.main-screen {
    display: flex;
    flex-direction: column;
    height: 97vh;
    width: 83%;
}

.top-bar {
    display: flex;
    flex-direction: column;
    height: 20%;
    margin-bottom: 2%;
    margin-top: 1%;
}

.search-bar {
    display: flex;
    height: 40%;
    padding-top: 1%;
    padding-bottom: 2%;
    align-items: center;
}


.search-bar>a>img {
    margin-top: auto;
}


.search-bar img {
    height: 70%;
    border-radius: 100%;
}

.search-bar input {
    height: 50%;
    width: 50%;
    border-radius: 20px;
    margin-left: 3%;
    padding-left: 2%;
    outline: none;
    transition: transform 1s;
}

.search-bar:focus-within input {
    transform: scale(1.15) translateX(3%);
}

.search-icon {
    padding-top: 1.5%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
}

.search-icon:hover {
    transform: scale(1.3) translateX(-7%);
}

.notification {
    height: 80%;
    padding-left: 8%;
    transition: transform 0.5s;
}

.notification>img {
    height: 90%;
}

.notification:hover {
    transform: scale(1.3) translateX(-7%);
}

.search-bar>p {
    font-size: 120%;
    text-align: center;
    width: 15%;
    margin-left: 5%;
}

.profile-bar {
    height: 40%;
    display: flex;
    align-items: center;
}

.profile-bar>img {
    border-radius: 100%;
    height: 100%;
}

.profile-bar p {
    font-size: 120%;
    padding-left: 1.5%;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 25%;
    width: 50%;
    height: 100%;
}

.button-class button{
    height: 100%;
    width: 100%;
    border-radius: 40px;
}

.button-class {
    height: 60%;
    width: 20%;
    border-radius: 40px;
    position:relative;
    transition: transform 0.7s;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.button-class:after, .button-class::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 2.5%;
    border-radius: 40px;
    animation: var(--speed) spin linear infinite;
    background-image: conic-gradient(from var(--angle), transparent 10%, var(--underline-blue));
}

.button-class::before{
    filter: blur(1rem);
    opacity: 1;
}

@keyframes spin{
    from{
        --angle: 0deg
    }

    to{
        --angle: 360deg
    }
}

.button-class:hover{
    transform: scale(1.3);
    --speed: 7s;
}

.button-class button:hover{
    cursor: pointer;
}

.main-screen-middle {
    height: 74%;
    width: 100%;
    display: flex;
    margin-top: 1.5%;
}

.projects {
    display: grid;
    width: 70%;
    height: 90%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr 5fr 5fr;
}

.projects>p {
    grid-column: 1 / -1;
    margin: 0;
    font-size: 1.7rem;
    margin-bottom: 2%;
}

.card {
    background-color: gray;
    border-radius: 20px;
    padding-top: 1%;
    padding-right: 5%;
    padding-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.title{
    padding-bottom: 3%;
    font-size: 140%;
    padding-top: 1%;
}

.right-bar {
    width: 26%;
    height: 90%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
}

.right-bar>p {
    font-size: 150%;
    margin-top: 0;
    margin-bottom: 5%;
}

.announcements-bar {
    width: 100%;
    height: 48%;
    background-color: gray;
    border-radius: 20px;
}

.announcement {
    width: 80%;
    height: 23%;
    padding-bottom: 3%;
    border-bottom: 1px solid white;
    margin-right: auto;
    margin-left: auto;
    padding-top: 4%;
}

.announcement.last {
    border-bottom: none;
}

.announcement>h3,
p {
    margin: 0;
}

.announcement h3 {
    font-size: 100%;
}

.announcement p {
    font-size: 70%;
    padding-top: 2%;
}



#top-creators {
    padding-top: 8%;
    margin-bottom: 4%;
}

.creators-tab {
    width: 95%;
    height: 25.5%;
    background-color: gray;
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.creator {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* horizontally center children */
    text-align: center;
    /* center text inside <p> */
    padding-left: 5%;
    padding-right: 5%;
}

.creator>img {
    width: 60%;
    height: auto;
    border-radius: 100%;
}

.creator>p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 10%;
}